<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:action="@{/search}" method="get" th:object="${book}">
    <label for="title">Enter a search query: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
    <br/>


    <input type="submit" value="Search!"/>
</form>

</body>
</html>